.pill {
  border-radius: 4px;
  border: 1px solid #000;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
}
.pill .heading {
  background-color: orange;
  padding: 0 2px;
  margin: 0 2px;
  display: none;
}

.pill.headingMode .heading {
  display: inline-block;
}
